<div class="user-details">
    <h1> My Expertise </h1>
    <p> {{site.user_description}} / KH Academy </p>
</div>


<div class="user">
    <div class="tech">
        <h2>Language</h2>
        <i class="devicon-java-plain colored"></i>
        <i class="devicon-c-plain-wordmark"></i>
        <i class="devicon-cplusplus-line-wordmark"></i>
        <i class="devicon-python-plain-wordmark colored"></i>
    </div>

    <!-- <div class="tech">
        <h2>Tools</h2>
        <img src="/assets/img/eclipse.png" width="60px">
        <i class="devicon-visualstudio-plain-wordmark colored"></i>
        <img src="/assets/img/visualcode.png" width="60px">
        <i class="devicon-github-plain-wordmark"></i>
    </div> -->
    <div class="tech">
        <h2>Web</h2>
        <i class="devicon-html5-plain-wordmark"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-jquery-plain-wordmark colored"></i>

        <img src="/assets/img/oracle.png" width="100px">
        <img src="/assets/img/spring1.png" width="140px" height="74.8px">
        <i class="devicon-nodejs-plain-wordmark"></i>
    </div>

</div>