<div class="user-details">
    <h1> 공방신기 </h1>
</div>
<div class="user-projects">
    <img src="/assets/img/gongbangsin.jpg" width="100%">
    <img src="/assets/img/gongbangDB.jpg" width="100%">

</div>

<div class="user-projects">
    <div class="images-left">
        <img class="project-img" src="/assets/img/gongbangsort.jpg">
    </div>
    <div class="contents-right">
        <h3>공방 목록 및 정렬</h3>
        <p>- 공방의 간단한 정보 제공<br> - 지역별, 분야별 인기순/최신순 정렬(AJAX)<br>
        </p>
    </div>
</div>
<div class="user-projects">
    <div class="images-left">
        <p> <img class="project-img" src="/assets/img/gongbangDetail.jpg">
        </p>
    </div>
    <div class="contents-right">
        <h3>공방 상세 페이지</h3>
        <p> - 공방의 정보 확인<br> <b>(KAKAO Map API, 1:1 상담 API)</b><br> - 사진 및 소개글 변경(AJAX)
        </p>
    </div>
</div>
<div class="user-projects">
    <div class="images-right">
        <img class="project-img" src="/assets/img/cgongbang.jpg">
    </div>
    <div class="contents">
        <h3>공방 사업자 전환 페이지</h3>
        <p> - 유효성 검사<br> - 카테고리 선택 <br> (등록된 카테고리 or 기타 선택 후 등록)<br> - <b>도로명 주소 API</b><br> - 여러개의 SNS 계정 등록 가능
        </p>
    </div>
</div>