<div id="particles-js">
    <div class="header">
        <h1>
            <span class="site-title">{{site.username}}</span>
            <span class="site-description">{{site.user_title}}</span>
        </h1>
        <div class="header-icons">
            <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
            <a aria-label="My Tistory" target="_blank" href="https://iheeeee6-6.tistory.com/"><i class="icon fa fa-pencil" aria-hidden="true"></i></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        </div>
        <div class="header-links">
            <a class="link" href="#about" data-scroll>About Me</a>
            <a class="link" href="#projects" data-scroll>Projects</a>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
    <a id="goUp" style="display:scroll;position:fixed;bottom:10px;right:30px;display: none; " href="#"><img src="/assets/img/icon (2).png"></a>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 500) {
                $('#goUp').fadeIn();
            } else {
                $('#goUp').fadeOut();
            }
        });
    });
</script>
</div>